In [ ]:
### dataclass

In [ ]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

In [ ]:
#透過class Student建立實體
students:list[Student] = [Student(name="robert",chinese=98, english=76, math=89),
 Student(name="jenny",chinese=89,english=78,math=65)]

type(students)

In [ ]:
for student in students:
    print(student.name)
    print(student.chinese)
    print(student.math)
    print(student.english)
    print("==================")